apiVersion: v1
kind: Service
metadata:
  name: {{ include "kebabcase-release-name" . }}-enterprise-server
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/name: enterprise-server
    app.kubernetes.io/component: server
{{ include "recommended-labels" . | indent 4 }}
spec:
  selector:
    app.portswigger.net/name: {{ include "kebabcase-release-name" . }}-enterprise-server
  ports:
    - name: https
      protocol: TCP
      port: 8072
    - name: ephemeral-agent
      protocol: TCP
      port: 8073